<h1>About</h1>

<p>Story Toss is a version of the game "Pass the Story," where players write a story together by passing it around and adding on a new sentence or paragraph. Story Toss adds a twist: a player doesn't have to continue the story from where the last player left off, but can instead write an alternative continuation at an earlier point, creating a new branching storyline. Players then vote on which storyline they like best.</p>

<p>Curious about how Story Toss was built? You can <%= link_to "read about it on my blog", "https://fpsvogel.com/posts/2021/pass-the-story-collaborative-writing-game", target: "_blank" %>.</p>

<p>If you find any bugs or have any suggestions, please let me know by <%= link_to "creating an issue on GitHub", "https://github.com/fpsvogel/storytoss/issues/new", target: "_blank" %>.</p>