<title>Story Toss</title>
<meta name="description" content="Write a story with other people bit by bit, and see where it ends up!" />
<link rel="canonical" href="https://storytoss.herokuapp.com/" />

<meta property="og:title" content="Story Toss: Write stories together" />
<meta property="og:description" content="Write a story with other people bit by bit, and see where it ends up!" />
<meta property="og:url" content="https://storytoss.herokuapp.com/" />
<meta property="og:image" content="https://storytoss.herokuapp.com/android-chrome-512x512.png" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary" />
<meta property="twitter:image" content="https://storytoss.herokuapp.com/android-chrome-512x512.png" />
<meta property="twitter:title" content="Story Toss: Write stories together" />
<meta property="twitter:description" content="Write a story with other people bit by bit, and see where it ends up!" />
<meta name="twitter:creator" content="@fpsvogel" />