<nav>
  <div class="nav-brand">
    <h3><a href="#">Story Toss</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible2">
    <label for="collapsible2">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, "data-turbo-method": :delete %></li>
        <% else %>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>