<a href="#" class="link-wrapper">
  <div class="paper container alternative">
    <div class="row margin-bottom-none">
      <span class="alternative-content">
        <%= paragraph %>
      </span>
      <span class="alternative-score <%= paragraph.score_in_a_word %>">
        <%= paragraph.score_formatted %>
      </span>
    </div>
  </div>
</a>