<div class="row margin-top-large">
  <a class="story-card-link" href="#">
    <div class="card">
      <div class="card-body">
        <div class="row margin-bottom-none">
          <span class="card-text story-preview"><%= story.first_paragraph %></span>
          <div class="story-stats">
            <div class="progress">
              <div class="bar secondary w-40"></div>
            </div>
            <div class="score">
              <span>👍</span>
              <span>20</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>