<div class="row margin-top">
  <a class="story-card-link" href="#">
    <div class="card">
      <div class="card-body">
        <div class="row margin-bottom-none">
          <span class="card-text story-preview"><%= story.first_paragraph %></span>
          <div class="story-stats">
            <div class="progress">
              <div class="bar success w-<%= story.progress %>"></div>
            </div>
            <div class="score <%= story.score_in_a_word %>">
              <%= story.score_formatted %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>