<h3>Pick a story and write your own continuation!</h3>

<%= link_to "Or start a new story", new_story_path, class: "paper-btn margin-bottom-small" %>

<%= render partial: 'story_preview', collection: @stories, as: :story %>
