:root {
  --primary-light: #c1c0bd !important;
}

html.dark body {
  background: #41403e;
}

// keep the footer at the bottom of the page.

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: auto;
}

// fix for https://github.com/papercss/papercss/issues/243
nav {
  .bar1, .bar2, .bar3 {
    height: 0.3rem;
  }
}
