:root {
  --primary-light: #c1c0bd !important;
}

html.dark body {
  background: #41403e;
}

// NAVBAR

// fix for https://github.com/papercss/papercss/issues/243
nav {
  .bar1, .bar2, .bar3 {
    height: 0.3rem;
  }
}

// FOOTER

// keep the footer at the bottom of the page.
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#footer {
  margin-top: auto;
}

// FORMS

h1:first-of-type, h2:first-of-type, h3:first-of-type {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

input[type=text], input[type=password] {
  margin-top: .2rem;
  margin-bottom: .8rem;
}

fieldset {
  margin-top: 1.5rem;
}

input[type=submit] {
  margin-top: 1.2rem;
}

// STORY INDEX AND SHOW

.story-card {
  padding: 0;
  z-index: 99;
  &.selected {
    outline: 5px solid crimson;
  }
  .link-wrapper {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }
  .card-body {
    padding: 0;
  }
  .story-content {
    padding: .7rem 0 .7rem 1.25rem;
    margin-bottom: 0 !important;
    flex: 1;
  }
  .story-level, .story-date, .story-continue, .story-stats {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
  .story-level {
    color: #bbb;
    margin-right: .3rem;
  }
  .story-date {
    display: inline-block;
    color: grey;
    font-size: smaller;
    margin-left: .3rem;
  }
  .story-continue {
    display: inline-block;
    font-size: 85%;
  }
  .story-stats {
    margin: .7rem 1.25rem .7rem .5rem;
    width: 2.7rem;
  }
  .progress {
    height: .5rem;
    width: unset;
    flex: 0.1;
    margin-bottom: .5rem;
  }
  .score {
    text-align: center;
    &.positive {
      color: seagreen;
    }
    &.zero {
      visibility: hidden;
    }
    &.negative {
      color: crimson;
    }
  }
  .like-dislike a {
    all: unset;
    margin-left: 0 !important;
    padding: .1rem .1rem;
    font-size: .9rem;
    color: transparent;
    text-shadow: 0 0 0 lightgray;
    &:hover {
      cursor: pointer;
      text-shadow: 0 0 0 #bbb;
    }
    &.selected {
      text-shadow: 0 0 0 var(--primary);
    }
  }
}

.alternative {
  font-size: 90%;
  color: grey;
  padding: .4rem 1.25rem .4rem 1.25rem;
  .alternative-content {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .alternative-score {
    margin-left: 1rem;
    &.zero {
      visibility: hidden;
    }
  }
}

// FORM TO ADD A PARAGRAPH

.add-paragraph {
  margin: .5rem 0;
  textarea {
    margin-top: .5rem;
    width: 100%;
  }
  input[type=submit] {
    margin-top: .5rem;
    padding: .5rem;
    display: inline-block
  }
  a.paper-btn { // "Cancel" button
    padding: .5rem;
  }
}