:root {
  --primary-light: #c1c0bd !important;
}

html.dark body {
  background: #41403e;
}

// NAVBAR

// fix for https://github.com/papercss/papercss/issues/243
nav {
  .bar1, .bar2, .bar3 {
    height: 0.3rem;
  }
}

// FOOTER

// keep the footer at the bottom of the page.
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#footer {
  margin-top: auto;
}

// FORMS

h1:first-of-type, h2:first-of-type, h3:first-of-type {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

input[type=text], input[type=password] {
  margin-top: .2rem;
  margin-bottom: .8rem;
}

fieldset {
  margin-top: 1.5rem;
}

input[type=submit] {
  margin-top: 1.2rem;
}

// STORY INDEX

.story-card-link {
  all: unset;
  &:hover {
    cursor: pointer;
  }
  .card-body {
    padding: .7rem 1.25rem;
  }
  .story-stats {
    width: 2.5rem;
    margin-left: .5rem;
  }
  .progress {
    height: .5rem;
    width:unset;
    flex: 0.1;
    margin-bottom: .5rem;
  }
  .score {
    text-align: right;
    & span:last-of-type {
      position: relative;
      top: 2px;
    }
  }
  .story-preview {
    margin-bottom: 0 !important;
    flex: 1;
  }
}